.container {
  text-align: center;
  background: whitesmoke;
  /* background: linear-gradient(90deg, rgba(172,203,238,1) 100%, rgba(231,240,253,1) 100%); */
  min-height: 100vh;
  max-width:100vw;
}

.button{
  display:flex;
  justify-content: center;
  gap:30px;
  /* color:#006BB9; */
}
.button > button{
  display:block;
  border-radius:10px;
  background-color:#006BB9;

}

.button>button:hover{
  cursor: pointer;
  transform:scale(1.5);
  transition:0.2s;
}


.login-container{
  place-content: center;
}

  .education{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:10px;
  }
  .job{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:10px
  }

  

  .createjob{
    display:flex;
    flex-direction: column;
    gap:10px;
    padding:25px;
    border:5px solid green;
    margin:10px;
    max-width: 900px;
  }

  @media(min-width:600px){
    .App{grid-template-columns: repeat(2,1fr);}
  }

  @media(min-width:900px){
    .App{grid-template-columns: repeat(3,1fr);}
  }