
.login-container{
  place-content: center;
}

  .education{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:10px;
  }
  .job{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:10px
  }

  

  .createjob{
    display:flex;
    flex-direction: column;
    gap:10px;
    padding:25px;
    border:5px solid green;
    margin:10px;
    max-width: 900px;
  }

  @media(min-width:600px){
    .App{grid-template-columns: repeat(2,1fr);}
  }

  @media(min-width:900px){
    .App{grid-template-columns: repeat(3,1fr);}
  }