.login-card{
    margin:15px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    gap:10px;
    color:black;
    font-weight: bold;
    background: rgb(255 255 255 / 3%);
    font-family: 'Mea Culpa', cursive;
    font-size: 52px;

  }
.form-container{
    position: relative;
    top: 70%;
    left: 12%;
    background: url("https://www.kindpng.com/picc/m/765-7652284_hire-reactjs-development-job-portal-development-hd-png.png");
    background-size: cover;
    background-position: top;
    background-position: center;
    width:75%;
    height:100%;
    border:2px solid;
    border-radius: 10px;
margin-top:10px;
padding:20px;
box-shadow: 5px 5px 5px grey; 
}


.fill-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  height: 30pxvh;
  background: #EAEBED;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px grey;
}

.fill-container{
  padding:20px;
}

.fill-container h1{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #2691d9;
}

.fill-container button{
margin:10px;
border-radius: 10px;
padding:10px;
background-color:#2691d9;
color: whitesmoke;
transition: (0.2);
}

.fill-container button:hover{
background-color: #FDAE38;;
cursor: pointer;
transform:scale(1.2);
}