.Updateprofile{
    padding: 20px;
}
.Updateprofile>Button{
    margin:2px;
    align-items:center;
}

.heading{
    font-family: geraldine;
    background-image: url("https://cutewallpaper.org/21/animated-background-gif/use-half-of-a-radial-background-as-animation-for-background-.gif");
    background-size: cover;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
    font-size: 4rem;
}